a{
    text-decoration: none;
}

.img-login{
    width: 100%;
    height: 600px;
}

.custom-label-danger{
    color: red;
    line-height: 1.5rem;
    font-size: 12px;
    text-align: center;
}

.custom-label-success{
    color: green;
    line-height: 1.5rem;
    font-size: 12px;
    text-align: center;
}

#number {
    font-size:20px;
    color:#FFFFFF;
    font-weight: bold;
}